<table class="table">
 	<div class="panel panel-default">

  	<div class="panel-heading"><h4><%= @users.email %></h4>
   		<tr>
   	 		<td><b><%= t(:email)%></td>
        <td><b><%= t(:current_deck)%></td>
        <td></td>
        <td></td>
    	</tr>
		</div>
  		<tr>
  		  <td><%= @users.email %></td>
        <% @users.decks.each do |decks| %>
        <% if current_user.current_deck_id == decks.id %>
        <td><%= decks.name %></td>
        <% end %>
        <% end %>
        <td></td>
        <td><%= link_to t(:edit), edit_user_path(@users) %></td>
        <td><%= link_to t(:delete), user_path(@users),
                method: :delete,
                data: { confirm: 'Вы уверены, что хотите удалить?' } %></td>
  		</tr>
	</div>
</table>
