<h3><%= t :home_index1 %></h3>
<h4><%= t :home_index2 %></h4>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= render 'test_form' %>
