<%= simple_form_for [:dashboard, @users] do |f| %>
  <% if @users.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @users.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <b><%= t(:email) %></b><%= f.input_field :email %>
  <b><%= t(:password) %></b><%= f.password_field :password %>
  <% unless @users.new_record? %>
    <%= f.input :locale, collection: I18n.available_locales %>
  <% end%>
  <%= f.button :submit, class: 'btn btn-default'%>
<% end %>
